// Body
$font-family-sans-serif: "Rubik", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$body-bg: #FFFFFF;
$body-color: #272c33;

// Buttons
$btn-font-weight: 700;

// Links
$link-decoration: underline dotted;
$link-hover-decoration: underline;