

#big-cart {
  height: 100vh;
  width: 550px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;

  background: #ffffff;


  @include media-breakpoint-down(md) {
    width: 100vw;
  }
}

#page {
  &:before {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);

  }

  &.opened {
    &:before {
      display: block;
      -webkit-animation: fadeInFromNone 0.5s ease-out;
      -moz-animation: fadeInFromNone 0.5s ease-out;
      -o-animation: fadeInFromNone 0.5s ease-out;
      animation: fadeInFromNone 0.5s ease-out;
    }
  }
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-webkit-keyframes fadeOutFromNone {
  0% {
    display: block;
    opacity: 1;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

@-moz-keyframes fadeOutFromNone {
  0% {
    display: block;
    opacity: 1;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

@-o-keyframes fadeOutFromNone {
  0% {
    display: block;
    opacity: 1;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes fadeOutFromNone {
  0% {
    display: block;
    opacity: 1;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: none;
    opacity: 0;
  }
}