#navbarNavPrimary {
  margin-top: 65px;

  @include media-breakpoint-down(md) {
    margin-top: 32px;
  }

  .nav-item {
    height: 100%;

    &.dropdown {
      .nav-link {
        box-shadow: none !important;
        border: 0 !important;
        outline: none !important;
        -webkit-appearance:none;
      }

      .dropdown-menu {
        .dropdown-item {
          .name-currency {
            text-transform: lowercase !important;
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;
            display: block;
            width: 100%;
          }
        }
      }
    }

    &.left-border {
      border-right: 1px solid #C1C1C1;
    }
  }

  img.logo {
    height: 100%;

    @include media-breakpoint-down(md) {
      width: 117px;
      margin-top: -15px;
    }
  }
}

#left-menu {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
  background: $white;
  z-index: 98;
}