#navbarNavPrimary {
  margin-top: 65px;

  @include media-breakpoint-down(md) {
    margin-top: 32px;
  }

  .nav-item {
    height: 100%;

    &.dropdown {
      .nav-link {
        box-shadow: none !important;
        border: 0;
        outline: none !important;
        -webkit-appearance:none;
      }

      .dropdown-menu {
        .dropdown-item {
          text-transform: uppercase;
          .name-currency {
            text-transform: lowercase !important;
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;
            display: block;
            width: 100%;
          }
        }
      }
    }
  }

  img.logo {
    height: 100%;

    @include media-breakpoint-down(md) {
      width: 117px;
      margin-top: -15px;
    }
  }

  .dropdown-toggle:not(.dropdown-toggle-has-arrow) {
    &::after {
      content: none !important;
    }
  }

  .left-border {
    border-right: 1px solid #C1C1C1 !important;
  }
}

#left-menu {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  background: $white;
  z-index: 98;


  .left-links-wrapper {
    overflow: auto;
    height: 100%;
    padding-bottom: 100px;
  }

  #left-links {
    height: 100%;
    font-size: 16px;
    font-weight: 300;
    flex-direction: column !important;

    margin-bottom: 50px;

    .nav-link {
      padding-bottom: 12px;
      padding-top: 12px;
      text-transform: uppercase;
    }

    .dropdown {
      outline: none;

      .dropdown-toggle {
        outline: none;

        &::after {
          content: none;
        }
      }
    }

    .dropdown-menu {
      position: unset;
      top: unset;
      left: unset;
      margin-top: 0;

      background: transparent;
      box-shadow: none;

      .dropdown-item {

        padding-top: 8px;
        padding-bottom: 8px;

        a {
          color: $navbar-light-color;
          font-weight: 300;
          text-decoration: none;
        }

        &:hover, a:hover {
          background: transparent;
          color: $navbar-light-active-color;
        }
      }

    }
  }

}