#product-page {
  color: $dark;

  figure, img {
    border-radius: 0;
  }

  .product-info-sticky {
    top: 30px;
    height: 100%;
  }

  .name {
    font-weight: 300;
    font-size: 24px;
  }

  .cost {
    font-weight: 300;
    font-size: 18px;
    margin-top: 15px;
    display: block;
  }

  .product-card-info {
    font-weight: 300;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #C1C1C1;
    margin-top: 23px;
    display: block;
  }

  .row-tabs {
    margin-top: 46px;
    color: $dark;

    .tab-pane {
      margin-top: 23px;
      color: $dark !important;
      font-weight: 300 !important;
    }

    .nav-tabs {
      border: 0;
    }

    .nav-link {
      color: $dark;
      border: 0;
      padding-left: 0;
      padding-right: 0;
      margin-left: 16px;
      margin-right: 16px;

      &:first-child {
        margin-left: 0px;
      }

      &.active {
        color: $navbar-light-active-color;
        border-bottom: 1px solid $dark;
      }
    }
  }

  input.input-count {
    font-size: 18px;
    font-weight: 300;
    border: none;
    text-align: center;
    box-shadow: none;
    outline: none;
    width: 20px;
    padding: 12px 0;
  }

  input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  .number-input {
    border: 1px solid #C1C1C1;
    display: inline-flex;
  }

  .number-input,
  .number-input * {
    box-shadow: none;
    outline: none;
    box-sizing: border-box;
  }

  .number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    cursor: pointer;
    margin: 0;
    position: relative;
    color: $dark;

    &:disabled {
      color: #6F797C;
    }
  }

}