#profile {
  .profile-image {
    position: relative;
    figure, img {
      object-fit: cover;
      height: 250px;
      width: 100%;

      @include media-breakpoint-down(xl) {
        height: 200px;
      }

      @include media-breakpoint-down(sm) {
        height: 250px;
      }
    }

    #form-photo {
      position: absolute;
      bottom: 20px;
      right: 40px;

      @include media-breakpoint-down(md) {
        right: 50px;
      }
      @include media-breakpoint-down(sm) {
        right: 60px;
      }

      #add-photo {
        font-size: 12px;
        border-radius: 4px !important;
      }
    }
  }
}