button.swal2-confirm {
  background: #ffffff !important;
  border: 1px solid #0a58ca !important;
  border-radius: 0 !important;
  color: #0a58ca !important;
  box-shadow: none !important;

  &:focus {
    box-shadow: none !important;
  }
}

.swal2-title {
  font-size: 24px !important;
  font-weight: normal !important;

  @include media-breakpoint-down(md) {
    font-size: 18px !important;
  }
}

.swal2-actions {
  button {
    font-size: 14px !important;

    @include media-breakpoint-down(md) {
      font-size: 12px !important;
    }
  }
}